html {
    box-sizing: border-box;
    margin: 5px;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 600px) {
  body {
    background-color: rgb(238, 189, 189);
    font-family: sans-serif;
    font-size: smaller;
  }
  .container {
    flex-direction: column;
  }
  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  ul {
      list-style: none;
  }
}

 @media (min-width: 600px) {    
  body {
    background-color: rgb(189, 238, 238);
    font-family: sans-serif;
  }
  .container {
    flex-direction: column;
  }
  p {
    padding: 0 5px;
    line-height: 1.5em;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  ul {
    list-style: none;
  }
  h2 {
      text-align: center;
  }
}
@media (min-width: 980px) {    
    body {
        background-color: rgb(199, 238, 189);
        font-family: sans-serif;
      }
} 

/* 
1 - Utilizando a abordagem mobile first e media queries , crie três versões de layout diferentes para essa página . Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande) . Faça pelo menos um commit para cada layout ;
2 - Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:
    Onde a lista de capítulos deve estar posicionada?
    Como a história deve ser mostrada?
    Como o cabeçalho deve ser posicionado?
    O que fazer com as informações do autor em cada tamanho de tela?

3 - Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. 
 */