h1 {
    font-family: sans-serif;
    font-size: 65;
    background-color: black;
    color: rgb(162, 162, 221);
}
li {
    color: black;
    font-weight: bold;
}
.fundao {
    background-color: orchid;
}
p {
    font-weight: 600;
    font-size: 2em;
    line-height: ;
}
body {
    background-color: rgb(162, 162, 221) ;
    font-size: 16;px
}
li {
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}
#lista1 {
    color: yellow;
}
#lista2 {
    color: red;
}
#lista3 {
    color: brown;
}